.favorite
  .icon
    display inline-block
  .card
    .card-text
      overflow hidden
      .name
        line-height px2rem(40)
        height px2rem(80)
        word-break: break-all;
        overflow hidden
    .icon-delete
      float right
      width px2rem(40)
      height px2rem(44)
      margin-top px2rem(12)
      background url('../../../../img/icon_delete.png') no-repeat
      background-size contain
      &:hover, &:active
        background url('../../../../img/icon_delete_active.png') no-repeat
        background-size contain
