section()
  margin-top px2rem(24)

.live-basic
  img.banner
    display block
    width 100%
    height px2rem(375)
  &-content
    background-color #fff
    padding 0 px2rem(24) px2rem(24)
    margin-bottom px2rem(106)
    .title
      padding px2rem(24) 0
      font-size px2rem(32)
      color $color-Z1
      &-sub
        border-bottom 1px solid $color-L2
        padding-bottom px2rem(26)
        color $color-Z3
        font-size px2rem(26)
        span
          display inline-block
          margin-right px2rem(32)
    .sell
      section()
      color $color-B4
      .price
        font-size px2rem(32)
        display inline-block
        margin-right px2rem(48)
      .count
        font-size px2rem(26)
        display inline-block
    .start-time
      color $color-Z2
      section()
      .status
        margin-left px2rem(40)
        padding-left px2rem(32)
        background-size px2rem(24)
        background-repeat no-repeat
        background-position-y center
      .about_to_start
        color #85c452
        background-image url("./imgs/icon-coming.png")
      .on_live
        color #3aaeff
        background-image url("./imgs/icon-going.png")
      .over
        color #a0a0a0
        background-image url("./imgs/icon-end.png")
    .tags
      section()
      .tag
        display inline-block
        padding 0 px2rem(16)
        font-size px2rem(24)
        background-color #e4f4ff
        border-radius px2rem(4)
        margin-right px2rem(16)
        margin-bottom px2rem(16)
        line-height px2rem(48)
    .description
      color $color-Z2
      padding-top px2rem(26)
      font-size px2rem(28)
